<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collectionplus.dao.ILink">
	<!-- 选择某个用户某个收藏夹下所有的收藏 -->
	<select id ="selectLinkByDirname" resultType="Link">
		select `link`.`ID`,`directory`.`dirname`,`link`.`picPath`,`link`.`value`,`link`.`read`,`link`.`title`,`link`.`source`,`link`.`time`,`link`.`type` 
		from `link` inner join `directory` on 
		`link`.`dirID`=`directory`.`ID` 
		and `directory`.`dirname`=#{1}
		and `directory`.`username` =#{0}
		limit #{2},6;
	</select>
	<!-- 选择所有的收藏 -->
	<select id ="selectAllLink" resultType="Link">
		select `link`.`ID`,`directory`.`dirname`,`link`.`picPath`,`link`.`value`,`link`.`read`,`link`.`title`,`link`.`source`,`link`.`time`,`link`.`type` 
		from `link` inner join `directory` on 
		`link`.`dirID`=`directory`.`ID` 
		and `directory`.`username` =#{0}
		limit #{1},6;
	</select>
	
	<select id ="getAllLink" resultType="Link">
		select `link`.`ID`,`directory`.`dirname`,`link`.`picPath`,`link`.`value`,`link`.`read`,`link`.`title`,`link`.`source`,`link`.`time`,`link`.`type` 
		from `link` inner join `directory` on 
		`link`.`dirID`=`directory`.`ID` 
		and `directory`.`username` =#{0}
	</select>
	
	<select id ="getWholeLink" resultType="Link">
		select `link`.`ID`,`directory`.`dirname`,`link`.`picPath`,`link`.`value`,`link`.`read`,`link`.`title`,`link`.`source`,`link`.`time`,`link`.`type` 
		from `link` inner join `directory` on 
		`link`.`dirID`=`directory`.`ID` 
	</select>
	
	
	<!-- 根据用户名和收藏夹名称返回对应收藏夹的ID -->
	<select  id="findDirID" resultType="String">
		select `ID` from `directory` where `dirname`=#{0} and `username`=#{1};
	</select>
	<!-- 插入链接 -->
	<insert id="insertLink">
		insert into `link`(`username`,`dirID`,`picPath`,`value`,`read`,`title`,`source`,`time`,`type`)
		values(#{username},#{dirID},#{picPath},#{value},#{read},#{title},#{source},#{time},#{type})
	</insert>
</mapper>
